@model IEnumerable<TennisCourtRentalSystem.Models.Customer>

@{
    ViewData["Title"] = "Customers";
    Layout = "_Layout";
}

<h1>Customers</h1>

<table class="table">
    <thead>
        <tr>
            <th>Customer ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Customer Type</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.CustomerId)</td>
                <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.TelNo)</td>
                <td>@Html.DisplayFor(modelItem => item.CustomerType)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CustomerId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CustomerId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Create" class="btn btn-success">Create New Customer</a>
</div>